$aspect: "3/2";
$darkGrey: rgb(22, 22, 22);

.blog-zone{
    width: 75vw;
    min-height: 300px;
    text-align: left;

    background: white;
    border-radius: 10px;

    padding: 10px;

    .blog-title{
        margin-block-start: 0.15em;
        margin-block-end: 1em;
        margin-left: 15px;
    }

    .feed-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .blog-options{
        margin: 0 10px 15px;
        padding: 10px 20px;
        border-radius: 4px;
        box-shadow: 0px 1px 2px 0px $darkGrey;

        background: white;

        select {
            padding: 5px;
            margin: 10px 10px 0px 0px;
            font-size: 1.5vh;
            border: none;
            border-radius: 4px;
            background-color: #e3e3e3;
        }
    }

    .blog-post{
        margin: 0 10px 30px;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 10px 0px $darkGrey;
        display: grid;
        min-width: 0px;
        min-height: 20vw;

        background: white;

        .img, img{
            max-width: 100%;
            max-height: 20vmin;
            display: inline;
        }

        >p{
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
            font-size: 1vmax;
        }

        .post-title{            
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
        }

        .likes-container{
            $animDuration: 0.1s;
            display: flex;
            align-items: center;
            align-self: flex-end;

            &.active >button {
                transform: scale(1.75) rotateY(185deg);
                &:after{ content: "❤"; }
            }
            &.active >span {
                transform: scale(1.25) rotateX(185deg);
            }

            >span{
                font-size: 1vmax;
            };

            >button{
                &:after{ content: "♡"; }
                border: none;
                background: none;
                cursor: pointer;
                font-size: 30px;
                font-family: inherit;
                color: rgb(238, 56, 56);
                &:focus {outline:0;}
                -webkit-tap-highlight-color: transparent;

                transition: transform $animDuration ease;                
            }

            >span{
                transition: transform $animDuration ease;
            }
        }
    }

}