html{
    font-family: "Verdana";
    font-size: 16px;
}

body{
    background: #67b3e5; /* Old browsers */
    background: -moz-linear-gradient(top, #67b3e5 0%, #7cd8ea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #67b3e5 0%,#7cd8ea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #67b3e5 0%,#7cd8ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67b3e5', endColorstr='#7cd8ea',GradientType=0 ); /* IE6-9 */

    position: relative;
    margin: 0;
}

.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.max{
    width: 100%;
    height: 95vh;
}

footer{
    //background: black;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px 0px;
}