.chat-zone {
  display: grid;
  grid-template-rows: 90% 1fr;
  height: 100%;
}
.chat-zone .messages-zone {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  overflow: auto;
}
.chat-zone .messages-zone .msg {
  border-collapse: separate;
  margin-bottom: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 2px 4px -3px black;
}
.chat-zone .messages-zone .msg .date {
  border-collapse: separate;
  padding-right: 5px;
  border-right: 1px solid black;
}
.chat-zone .input-zone {
  display: grid;
  grid-template-columns: 1fr 1.4fr 1.5fr 10fr 0.5fr;
  grid-gap: 8px;
  padding: 0px 10px;
  width: -webkit-fill-available;
  align-items: center;
  box-shadow: 0px 2px 10px 0px rgb(22, 22, 22);
}
.chat-zone .input-zone input, .chat-zone .input-zone button {
  height: 30px;
}
.chat-zone .input-zone .text {
  width: -webkit-fill-available;
}